
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(90deg, #2ca9bc, #a5f0fc);
    background-size: cover;
    color: #2ca9bc;

}

#page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;

}

.login-btn {
    border: 2px solid #ffff;
    color: #ffff;
    border-radius: 25px;
    background-color: #5AC3DA;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 200px;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
}

.login-btn:hover {
    background-color: #3a8f9b;
}

.login-btn-white {
    border: 2px solid #ffff;
    color: #ffff;
    border-radius: 25px;
    background-color: #46b1c3;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 200px;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
}

.login-btn-white:hover {
    background-color: #3a8f9b;
}

.login-container {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    height: 500px;
    padding: 0;
}
.login-header {
    color: #2ca9bc
}
.login-right {
    background: url(/images/login-background.svg);
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: 0 5px 5px 0;
    color: white;
}

.login-left {
    height: 100%;
    border-radius: 5px 0 0 5px;
    background-color: white;

}

.navbar {
    background-color: #2ca9bc;
    padding: 10px 0;
    text-align: center;
    border-radius: 5px 5px 0 0;
}


.text-white {
    color: white;
}

/* Login Ends */

/* Homepage Begins */

/* Tabs Begins */

.main-tabs {
    display: flex;
    justify-content: center;

}

.nav-tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: transparent;
}


.nav-link {
    color:#2ca9bc;
}


.main-tabs li {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #2ca9bc;
    /* border: solid 1px #2ca9bc; */
    /* background-color: white; */
    border-radius: 5px 5px 0 0;

}

.nav-item .nav-link {
    width: 100%;
    height: 100%;
    text-align: center;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2ca9bc;
    background-color: transparent;
    text-decoration: none;
    /* border-color: #dee2e6 #dee2e6 #fff; */
}

.main-tabs .active {
    background-color: #2ca9bc;
    /* color: white; */
}

.sub-tab.active {
    background-color: #2ca9bc;
    color: white;

}


.main-tabs a {
    color: #2ca9bc;
    text-decoration: none;
    border-bottom: 5px;

}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}


.nav-tabs .active {
    background-color: #2ca9bc;
    color: white;
    text-decoration: underline;
}

.main-tabs a   {
    color: #2ca9bc;
    text-decoration: none;  
   
}


.nav-link img {
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.5;
  }
  
  .nav-link.active img {
    /* transform: scale(1.2); */
    opacity: 1;
    transform: translateY(-10px);
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10px);
      
    }
  }